# Temporary files
.*.swp
*.pyc
*.pyo

# Local dev files
db.sqlite
local_settings.ini

# Build-related files
xorg_vote/static/
docs/_build/
.coverage
.tox
*.egg-info
*.egg
*.mo
build/
dist/
htmlcov/
MANIFEST
