Django>=2.0.0,<3.0.0
pytz>=2014.4
getconf>=1.1.0,<2.0.0

mozilla-django-oidc>=1.2.0,<2.0.0
django-bootstrap3>=8.0.0,<9.0.0
django-braces>=1.4.0,<2.0.0

# For debug & co
django-debug-toolbar>=2.2.0,<3.0.0

factory_boy>=2.12.0,<3.0.0
