{% extends "base.html" %}

{% block content %}
{% if votes_list %}
<h2>Votes disponibles</h2>
<table class="table table-bordered table-hover table-striped">
<tr>
  <th>Nom</th>
  <th>Ouvert ou clos</th>
  <th>A voté ?</th>
  <th>Date d'ouverture</th>
</tr>
{% for vote in votes_list %}
<tr>
  <td><a href="{% url 'detail' vote.id %}">{{ vote.shortdesc }}</a></td>
  <td>{% if vote.opened %}ouvert{% else %}clos{% endif %}</td>
  <td>{% if vote.user_has_voted %}a voté{% else %}n'a pas voté{% endif %}
  <td>{{ vote.pub_date }}</td>
</tr>
{% endfor %}
</table>
{% else %}
<p>Aucun vote n'est disponible.
{% if not user.is_staff %}
N'étant pas membre du groupe, certains votes peuvent vous être inaccessibles.
{% endif %}
</p>
{% endif %}
{% endblock content %}
